@font-face {
  font-family: 'Times Bold';
  src: url(../../times.ttf); }
html,
body {
  overflow-x: hidden;
  background-color: #0A0000;
  background-color: #fff;
  color: #fff;
  font-family: "Raleway", sans-serif;
  z-index: -1000; }

.fullscreen {
  height: 100vh; }

.halfscreen {
  height: 50vh; }

.three-quarter-screen {
  height: 75vh; }

.red {
  background: red; }

.svglogo {
  width: 60%; }
  @media only screen and (min-width: 1200px) {
    .svglogo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 30%; } }

.svg-row {
  border: 2px solid indigo;
  min-height: 90vh;
  position: relative; }

.currentPage {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em; }
  @media only screen and (min-width: 992px) {
    .currentPage {
      display: none; } }

.jumbotron {
  background-color: transparent; }

.btn-default {
  color: #fff;
  background-color: #F50057; }
  .btn-default:hover {
    background-color: #ff2975; }

.navbar-default {
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.active {
  color: #F50057; }
  @media only screen and (min-width: 1200px) {
    .active {
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 2px solid #F50057; } }

#svg {
  display: inline-block;
  vertical-align: middle;
  fill: #C30045; }
  #svg polygon:nth-child(1) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 0.3s; }
  #svg polygon:nth-child(2) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 0.6s; }
  #svg polygon:nth-child(3) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 0.9s; }
  #svg polygon:nth-child(4) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 1.2s; }
  #svg polygon:nth-child(5) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 1.5s; }
  #svg polygon:nth-child(6) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 1.8s; }
  #svg polygon:nth-child(7) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 2.1s; }
  #svg polygon:nth-child(8) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 2.4s; }
  #svg polygon:nth-child(9) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 2.7s; }
  #svg polygon:nth-child(10) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 3s; }
  #svg polygon:nth-child(11) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 3.3s; }
  #svg polygon:nth-child(12) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 3.6s; }
  #svg polygon:nth-child(13) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 3.9s; }
  #svg polygon:nth-child(14) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 4.2s; }
  #svg polygon:nth-child(15) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 4.5s; }
  #svg polygon:nth-child(16) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 4.8s; }
  #svg polygon:nth-child(17) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 5.1s; }
  #svg polygon:nth-child(18) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 5.4s; }
  #svg polygon:nth-child(19) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 5.7s; }
  #svg polygon:nth-child(20) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 6s; }
  #svg polygon:nth-child(21) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 6.3s; }
  #svg polygon:nth-child(22) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 6.6s; }
  #svg polygon:nth-child(23) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 6.9s; }
  #svg polygon:nth-child(24) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 7.2s; }
  #svg polygon:nth-child(25) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 7.5s; }
  #svg polygon:nth-child(26) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 7.8s; }
  #svg polygon:nth-child(27) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 8.1s; }
  #svg polygon:nth-child(28) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 8.4s; }
  #svg polygon:nth-child(29) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 8.7s; }
  #svg polygon:nth-child(30) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 9s; }
  #svg polygon:nth-child(31) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 9.3s; }
  #svg polygon:nth-child(32) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 9.6s; }
  #svg polygon:nth-child(33) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 9.9s; }
  #svg polygon:nth-child(34) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 10.2s; }
  #svg polygon:nth-child(35) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 10.5s; }
  #svg polygon:nth-child(36) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 10.8s; }
  #svg polygon:nth-child(37) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 11.1s; }
  #svg polygon:nth-child(38) {
    animation: pweek 11.4s linear infinite;
    animation-delay: 11.4s; }

@keyframes pweek {
  0% {
    fill: #C30045; }
  20% {
    fill: #EE0054; }
  40% {
    fill: #F50057; }
  60% {
    fill: #F63076; }
  80% {
    fill: #F75F95; }
  100% {
    fill: #C30045; } }
footer {
  background-color: #0A0000;
  width: 100%;
  position: absolute;
  border: 0; }
  footer .adress {
    background-color: antiquewhite;
    width: 100%; }
  footer .info {
    font-style: normal;
    line-height: 300%; }
    @media only screen and (min-width: 992px) {
      footer .info {
        line-height: 300%; } }
    footer .info a,
    footer .info p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 100%;
      font-weight: 500;
      text-decoration: none; }
  footer .map {
    display: none; }
    @media only screen and (min-width: 992px) {
      footer .map {
        display: block;
        width: 100%;
        height: 50%; } }
    footer .map #map {
      width: 100%;
      height: 90vh;
      opacity: 0.5;
      filter: alpha(opacity=50); }
    footer .map .logo {
      display: none; }
      @media only screen and (min-width: 992px) {
        footer .map .logo {
          display: block;
          font-family: "Arvo", serif;
          color: #fff;
          font-size: 5em;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%); } }
  @media only screen and (min-width: 992px) {
    footer .social {
      width: 100%;
      background: red;
      opacity: 0.5; } }
  footer .sociallinks {
    color: #F50057;
    font-size: 3em;
    width: 100%; }
  footer i {
    padding: 2%; }

#footerLogo {
  font-family: "Times Bold";
  color: #fff;
  font-size: 1.2em; }
  @media only screen and (min-width: 992px) {
    #footerLogo {
      font-size: 2em; } }
  #footerLogo span {
    color: #F50057; }

#row {
  background-color: aliceblue;
  width: 100%;
  border: 2px solid red; }
  #row p {
    color: black; }

.red {
  background: red; }

.green {
  background: green; }

.blue {
  background: blue; }

.yellow {
  background: yellow; }

section.fullscreen:last-child {
  vertical-align: middle; }
