.employeeImage {
  height: 30vw;
  width: 30vw;
  border: 10px solid $accentPink;
  background-size: cover!important;
  display: block;
  &:hover,
  &:focus {
    border: 5px solid $accentPink;
  }
  @include md {
    width: 20vw;
    height: 20vw;
  }
}
.employeeName,
.employeeTitle,
.employeeQuote,
#aboutTeam,
#aboutOffers,
#aboutAwards,
#aboutPhilosophy,
#aboutHistory,
 {
  h3,
  h1,
  p {
    background-color: $accentPink;
    margin: 0;
  }
  @include md {
    &:before {
      content: " ";
      height: 150px;
    }
  }
}
.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
//Profilbilder
#victor {
  background: url(../../img/victor.jpg) no-repeat center center;
}
#robin {
  background: url(../../img/robin.jpeg) no-repeat center center;
}
#joel {
  background: url(../../img/joel.jpg) no-repeat center center;
}
#nina {
  background: url(../../img/nina.jpg) no-repeat center center;
}
