//All stil som ingår i bootstrap som vi vill modifiera lägger vi här
.jumbotron{
background-color: transparent;
    
}

.btn-default {
  color: $mainFont;
  background-color: $accentPink;
  &:hover {
    background-color: lighten($accentPink, 10%);
  }
}

.navbar-default {
    background-color: transparent;
}


.navbar-default .navbar-nav > li > a {
color:$mainFont;    
    
}


.active  {
color: $accentPink;      
    @include lg{
      color: $brightFont;      
      border-bottom: 2px solid $accentPink;  
        
    }

}





