/* ================================= 
  All global stil 
==================================== */
.jumbotron {
    background-color: transparent;
}

.btn-default {
    color: $mainFont;
    background-color: $accentPink;
    &:hover {
        color: $mainFont;
        background-color: lighten($accentPink, 5%);
        text-decoration: none;
    }
}


/* ================================= 
  Allt som har med navbaren att göra
==================================== */
.active {
    color: $accentPink;
    @include lg {
        color: $brightFont;
        border-bottom: 2px solid $accentPink;
    }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: $accentPink;

}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  background: $accentPink;  
}




.navbar-default {
    background-color: transparent;

}

.navbar-default .navbar-nav > li > a {
    color: $mainFont;
}

.navbar-collapse, .navbar-default {
   border:none; 
}





.navbar-toggle {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    background-color: $accentPink;
    border: none;
}

.glyphicon-menu-hamburger{
font-size: 2em;    
    
    
}

/* ================================= 
  Ny style för panel-default
==================================== */

.panel-default > .panel-heading {
  color: $mainFont;
  background-color: $accentPink;
  border: none;
}

.panel-body {
  font-size: 1.3em;
}

.panel.panel-default {
  background-color: black;
  border: none;
}