#contact{
	
	input{
		font-size: 110%;
		min-height: 40px;
		color: $dark;
	}
	
	textarea{
		width: 100%;
		font-size: 120%;
		color: $dark;
	}
	
	label{
		font-size: 130%;
	}
	
	section{
		font-size: 130%;
	}
	
	a{
		color: $accentPink;
	}
	
	address{
		margin-bottom: 10px;
	}

	p{
		&:nth-child(3){
			margin-bottom: 0;
		}
	}

	.btn{
		font-size: 120%;
		color: white;
		border: none;
	}
	

		h1{
			margin-bottom: 30px;
		}

		strong{
			font-style: italic;
			font-weight: inherit;
		}

	
	//For desktop and tablet
@include md	{	
		.center-block{
			width: 90%;
			
		}	
	}

}



