footer {
    background-color: $dark;
    border: 0;

    .info {
        font-style: normal;
        line-height: $lineHeight*3;

        a, p {
            color: $brightFont;
            font-size: $baseFont*1;
            font-weight: 500;
            text-decoration: none;
        }
    }
    .map {
        @include md {
            background-color: $darkerTransparent;
            -webkit-background-blend-mode: darken;
        }
        #map {
            height: 90vh;
            @include opacity(0.5);
        }
    }

    .map-wrapper{
    position:relative;


    }
    .find-us {
        font-family: $headings;
        color: $mainFont;
        font-size: 5em;
        @include centerBoth;
  
    }
   
    .sociallinks {
        color: $accentPink;
        font-size: 3em;
    }
    i {
        padding: 2%;
    }
}


.footerLogo {
    font-family: $logo;
    color: $mainFont;
    font-size: 0.8em;

    @include md {
        font-size: 1em;
    }
    span {
        color: $accentPink;
    }
}


