.svglogo-start {
    position:relative;
    @include md {
    margin-top:20%;
    margin-left:40%;
    }
    
}

.svg-row {
    min-height: 90vh;
    position: relative;
}

.currentPage {
    color: $brightFont;
    font-size: 1em;
 
}
