.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}
.yellow{
background: yellow;    
}

.orange{
background: orange;    
}

.indigo{
background: indigo;    
}