.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.indigo {
    background: indigo;
}



.fullscreen {
    height: 100vh;
}

.halfscreen {
    height: 50vh;
}

.three-quarter-screen {
    height: 75vh;
}

.one-quarter-screen{
height:25vh;

}