html,
body {
    overflow-x: hidden;
    background-color: $dark;
    color: $mainFont;
    font-family: $text;
    z-index: -1000;
}


.fullscreen{
height: 100vh;    
     
}


.logo {
    font-family: $logo;
    color: $brightFont;
    font-size: 3.5em;

    span {
        color: $accentPink;
    }
}

.currentPage {
    color: $brightFont;
    font-size: 1em;
    @include desktop {
        display: none;
    }
}



.sociallinks i{
color: $accentPink;
    
    
}