.project{
	
	article{
		width: 100%;
		font-size: 120%;
		color: rgba(255, 255, 255, 0.8);
		
		@include md{
			font-size: 110%;
			width: 90%;
			margin: 100px auto;
		}
		
		a{
			color: $accentPink;
		}
		
		h2{
			font-size: 1.5em;
				
			@include lg{
				font-size: 2em;
			}
		}
		
		p{
			line-height: $lineHeight*1.8;
			
			@include lg{
				line-height: $lineHeight*2;
			}
		}
		
		img{
			max-height: 570px;
			margin: 30px auto;
			
			&:hover{
				transform: none;
			}
		}
	}
	
}
	