@each $background in $backgrounds {
  ##{$background} {
    @include lg {
    min-height: $viewportSize;
    padding: 50px 50px;
    background: no-repeat center/ cover url(../../img/#{$background}.jpeg);
    }
  }
}

figure img {
  max-height: 200px;
  max-width: 200px;
  margin: 10px;
}