.work {

    a {
        text-decoration: none;


        article {
            color: $brightFont;
           // width: 100%;
            min-height: 150px;
            overflow-x: hidden;
            background-blend-mode: multiply;
            background-color: rgba(88, 87, 92, 0.89);
            background-size: cover;

            &:hover {
                background-color: darken(grey, 5%);
            }
            @include md {
                min-height: 350px;
               
            }
            p {
                width: 50%;
                line-height: $lineHeight*1.8;

                @include md {
                    line-height: $lineHeight*2;
                }
            }
            div {
                background-color: $accentPinkTrans;
                //width: 60%;
                display: block;


                @include sm {
                    //width: 45%;
                }
                @include md {
                    //width: 50%;
                }
                h2 {
                    line-height: $lineHeight*2.5;
                    margin-left: 2%;
                    font-family: $headings;
                    font-size: $baseFont;

                    @include md {
                        font-size: 1.3em;
                    }
                }
            }
            a {
                text-decoration: none;
                color: $accentPink;
                margin-left: 5%;

                @include md {
                    line-height: $lineHeight*2;
                }
            }
        }
    }
    #eko {
        background-image: url(../../img/work/thumbnails/eko.jpg);
    }
    #training365 {
        background-image: url(../../img/work/thumbnails/training.jpg);
    }
    #tittut {
        background-image: url(../../img/work/thumbnails/tittut.jpg);
    }
    #craftfood {
        background-image: url(../../img/work/thumbnails/craftfood.jpg);
    }
}